<h1 style="color:blue;">FUND for FLOOD victims in Dinajpur</h1>  
<h4 style="color:red;">
Due to heavy monsoon rains in DINAJPUR, Many areas of the district town and nearby villages went under water on Sunday. Some of the town mostly affected are Moulvibazar, Habiganj and northern parts of Chittagong overflowed. Water started to enter the town from 12:30 am when a 30-foot portion of the dam broke down due to heavy pressure of water. The sudden push of water engulfed many areas of the town and at least 50 nearby villages. Business establishments and educational institutions in the affected areas were shut down while people were seen wading through waist-deep water. People are suffering from lack of safe drinking water, food and shelter. They are at risk of  contracting deadly disease and other health issues.

Due to Bangladesh being a poor country, it will take many days before they are able to obtain any government help. The death tolls are already rising and it will continue to rise with  lack of food, clean water and sanitation.

This happen as the holy month of Ramadan has come to an end but please find it in your heart to continue donating to the poor and continuing to give zakat to the people that are mostly in need.

I am asking you to donate so it can be send to Mayor Fozlur Rahman to distribute accordingly to those area that are most in needs.

$1 is equivalent to 83 Taka (Bangladesh Currency) which can provide clean water for a family. So every dollar will go a long way and help those that are in needs.

</h4>


 <ul>  

   
     </li> 
 
     {% for movies in object_list %}  
     <li> Total fund to be collected :{{ movies.fund_required }} Fund Received : {{ movies.fund_given }}  
   
   
     
   
     
     {% endfor %}  
 </ul> 

 {% load static %}
<img src="{% static "pic/flood1.jpg" %}" alt="My image">
<img src="{% static "pic/flood.jpg" %}" alt="My image">
<img src="{% static "pic/flood2.jpg" %}" alt="My image">
	 